name: Blue-Green Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Set up job
        run: echo "Iniciando Blue-Green Deploy para ${{ github.ref_name }}"

      - name: Desplegar en VM Blue/Green
        uses: appleboy/ssh-action@v1.0.3
        env:
          BRANCH: ${{ github.ref_name }}
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            set -e

            echo ">>> BRANCH recibido: $BRANCH"

            if [ -z "$BRANCH" ]; then
              echo "ERROR: BRANCH está vacío"; exit 1;
            fi

            # 1) Clonar SOLO la primera vez si no existe
            if [ ! -d /opt/bluegreen-imanol/Prueba-de-App-Shell-/.git ]; then
              sudo mkdir -p /opt/bluegreen-imanol
              sudo chown $USER:$USER /opt/bluegreen-imanol
              git clone https://github.com/ImanolCE/Prueba-de-App-Shell-.git /opt/bluegreen-imanol/Prueba-de-App-Shell-
            fi

            cd /opt/bluegreen-imanol/Prueba-de-App-Shell-

            # 2) Dejar el repo EXACTAMENTE igual que la rama que disparó el workflow
            git fetch origin
            git checkout "$BRANCH"
            git reset --hard "origin/$BRANCH"

            # 3) Login en GHCR con tu PAT
            echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u imanolce --password-stdin

            # 4) Traer imágenes y levantar contenedores
            docker compose pull
            docker compose up -d

            # 5) Despliegue Blue/Green (AUTO alterna azul/verde)
            bash scripts/deploy_app.sh

            # 6) Mostrar contenedores activos
            docker ps
