name: Blue-Green Deploy

on:
  workflow_run:
    workflows: ["Build and Push Blue/Green Images to GHCR"]
    types: [completed]
  workflow_dispatch:

jobs:
  deploy:
    if: >
      github.event_name == 'workflow_dispatch' ||
      github.event.workflow_run.conclusion == 'success'

    runs-on: ubuntu-latest

    steps:
      - name: Info del evento
        run: |
          echo "Evento: ${{ github.event_name }}"
          echo "Workflow previo: ${{ github.event.workflow_run.name || 'N/A' }}"
          echo "Conclusión: ${{ github.event.workflow_run.conclusion || 'N/A' }}"

      - name: Desplegar en VM (Blue/Green)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            set -e

            # Clonar SOLO la primera vez si no existe
            if [ ! -d /opt/bluegreen-imanol/Prueba-de-App-Shell-/.git ]; then
              sudo mkdir -p /opt/bluegreen-imanol
              sudo chown $USER:$USER /opt/bluegreen-imanol
              git clone https://github.com/${{ github.repository }} /opt/bluegreen-imanol/Prueba-de-App-Shell-
            fi

            cd /opt/bluegreen-imanol/Prueba-de-App-Shell-

            # Dejar el repo igualito que main
            git fetch origin
            git checkout main
            git reset --hard origin/main

            # Login GHCR
            echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u "${{ github.repository_owner }}" --password-stdin

            # Traer últimas imágenes y levantar contenedores
            docker compose pull
            docker compose up -d

            # Ejecutar despliegue Blue/Green (auto alterna)
            bash scripts/deploy_app.sh

            # Ver contenedores activos
            docker ps
