name: Blue-Green Deploy

on:
  workflow_run:
    workflows: ["Build and Push Blue/Green Images to GHCR"]
    types:
      - completed

jobs:
  deploy:

    # Solo si el workflow de build terminó en success
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:

      #  Determinar la rama que disparó el build (main o blue-green)
      - name: Determinar rama origen
        run: echo "BRANCH=${{ github.event.workflow_run.head_branch }}" >> $GITHUB_ENV

      #  quee color desplegar según la rama
      - name: Determinar color objetivo (blue/green)
        run: |
          if [[ "$BRANCH" == "main" ]]; then
            echo "TARGET_COLOR=blue" >> $GITHUB_ENV
          else
            echo "TARGET_COLOR=green" >> $GITHUB_ENV
          fi

      - name: Agregar host al known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Desplegar en VM Blue/Green
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e

            # Clonar SOLO la primera vez si no existe
            if [ ! -d /opt/bluegreen-imanol/Prueba-de-App-Shell-/.git ]; then
              sudo mkdir -p /opt/bluegreen-imanol
              sudo chown $USER:$USER /opt/bluegreen-imanol
              git clone https://github.com/ImanolCE/Prueba-de-App-Shell-.git /opt/bluegreen-imanol/Prueba-de-App-Shell-
            fi

            cd /opt/bluegreen-imanol/Prueba-de-App-Shell-

            # Dejar el repo EXACTAMENTE igual que la rama que se construyó
            git fetch origin
            git checkout "$BRANCH"
            git reset --hard "origin/$BRANCH"

            # Login en GHCR con tu PAT
            echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u imanolce --password-stdin

            docker compose pull
            docker compose up -d

            # Ejecutar despliegue Blue/Green al color calculado
            bash scripts/deploy_app.sh

            # contenedores activos en el log del pipeline
            docker ps
